body {
  margin: 0px;
  font-family: 'Lato',sans-serif;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  background-image: url('../assets/cover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.personalcard {
  color: white;
  width: 600px;
  height: 300px;
  background-color: black;
  border-radius: 10%;
  box-shadow: rgba(0,0,0,.45) 0 1.125rem 4.125rem 0;
  border-radius: .625rem;
  border-width: 0;
  background-image: linear-gradient(103deg,#eb816a 0%,#e6a87c 100%);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 85vw;
}

h1 {
  font-size: 1.5em;
}

#portrait {
  width: 190px;
  height: 190px;
  min-width: 190px;
  min-height: 190px;
  border-radius: 50%;
}
#icons {
  margin-top: 27px;
}

#icons a {
  color: white;
  text-decoration: none;
  color: white;
  font-size: 36px;
  margin-right: 15px;
}

#icons img {
  max-width: 36px;
}

@media only screen and (max-width: 630px) {
  .personalcard {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
  }
#portrait {
    order: 0;
  }
  .card-text {
    order: 1;
    text-align: center;
  }
}
